@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #ccc;
  color: #333;
  font-family: "Caveat", cursive;
  min-height: 100vh;
}

.content {
  background: #fff;
  margin: 5rem 20rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px;
}

.header h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Anton", sans-serif;
  padding: 0.5rem 0rem;
  margin: 0;
}

.description p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
  padding: 0;
  margin: 0.5rem 0;
}

form {
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.7rem;
  border: none;
  background: #333;
  font-family: "Caveat", cursive;
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
  outline: none;
}

form button {
  color: #fff;
  background: #c3073f;
  cursor: pointer;
  transition: all 0.3 ease;
}

form button:hover {
  color: #333;
}

hr {
  width: 50%;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style-type: none;
  min-width: 50%;
}

.todo {
  margin: 0.5rem;
  background: #333;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo-item {
  flex: 1;
}

.complete-btn,
.delete-btn {
  background: #c3073f;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
}

.complete-btn:hover,
.delete-btn:hover {
  color: #fff;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.todo-input{
  width: 30%;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  transform: inherit;
  opacity: 0.5;
}

.delete-animation {
  transform: translateX(-50%);
  opacity: 0;
}
